*{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
@media screen and (min-width:1400px) {
    .container{
        min-width: 1320px;
    }
}
/* Header */
.my-header{
    background:  #2C3A4A;
}
.header__nav{
    background:rgba(25, 95, 147, 0.6);
    position: absolute; 
    top: 69px;
    right: 15px; 
    z-index: 100;
    padding: 10px;
    display: none;
    width: 200px;
    padding: 10px 50px;
    transition: all 0.2s linear;
}
.header__nav li{
    display: block;
    padding-top:5px ; 
    margin-bottom: 5px;  
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.7);        
}
.header__nav li:hover{
    background: rgba(242, 242, 242, 0.1);
}
.header__search{
    padding-top:20px ;
    padding-bottom: 20px; 
}
.header__nav li,.header__search {
    position: relative;
    transition: all 0.2s linear;   
    list-style: none;
}

.header__nav a,.header__search a{
    text-decoration: none;
    font-weight: 600;
    font-size: 10px;
    color: #FFFFFF;
}
.header__nav a:hover,.header__search a:hover{
    text-decoration: none;
    color: #FFFFFF;
}
.header__search a{
    display: none;
}

.my-header label span,.header__search i{
    color: white;
    font-size: 30px;
}

.checkboxMenu:checked ~ ul{
    display:block;
    
}
.header__content{
    justify-content: flex-end;
}

@media screen and (min-width:576px){
    .header__nav{
        top: 69px;
        right: 15px; 
        width: 280px;
    }
    .header__nav li{       
        padding-top:10px ; 
        margin-bottom: 10px;  
    }

    .header__nav a,.header__search a{
        font-size: 14px;
    }
    .my-header label span{
        font-size: 36px;
    }
}
@media screen and (min-width:992px) {
    .header__nav{
        background:none;
        position:static;
        width: 100%;
    }
    .header__nav{
        display: block  !important;
    }
    .header__nav li{
        display: inline-block;
        padding: 0;
        padding-top: 30px;
        padding-bottom: 30px;
        border: none;
        margin-bottom: 0;
    }
    .header__nav li::after, .header__search::after{  
        content: "";
        height: 5px;
        width: 100%;
        background: #d8d8d8;
        position: absolute;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: all 0.2s linear;
    }
    .header__nav li:hover::after,.header__search:hover::after {
        opacity: 1;
    }
    .header__nav li:hover,.header__search:hover {
        background:rgba(216, 216, 216, 0.2);
    }
    .header__nav  a{   
        display: inline-block; 
        font-size: 16px;                 
    }
    .header__nav .link-product a{
        border-left:1px solid #d8d8d8;
        border-right:1px solid #d8d8d8 ;
    }
    .header__search{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .header__search a{
        display: block;
        font-size: 16px;
    }
    .header__content{
        justify-content: space-between;
    }
}
@media screen and (min-width:1200px) {

    .header__nav a,.header__search a{
        font-size: 18px;
    }
}
@media screen and (min-width:1400px) {

    .header__nav a,.header__search a{
        font-size: 20px;
    }
}
/*End Header*/
/* Footer */
.my-footer{
    background:  #2C3A4A;
    color: white;
    text-align: center;
}
.footer__contact h6{
    font-weight: 600;
    font-size: 10px;
}
.footer__contact a{
    font-weight: 400;
    font-size: 8px;
}
.footer__contact i{
    font-weight: 400;
    font-size: 16px;
}
.footer__btn .btn{
    font-weight: 400;
    font-size: 9px;
}
.footer__btn .footer__btn-singIn{
    padding: 7px 25px;
    margin-bottom: 14px;
    background-color:  #195F93;
    color: white;
    transition: all 0.1s linear;
}
.footer__btn .footer__btn-singIn:hover{
    color: white;
}
.footer__btn .footer__btn-singUp{
    padding: 7px 22px;
    background-color: white;
    color: #195F93 ;
}
.footer__btn .footer__btn-singUp:hover{
    color: #195F93 ;
}

.footer-bottom{
    border-top: 1px solid #9F9F9F;
}
.footer-bottom span{
    font-weight: 400;
    font-size: 7px;
}
.footer-bottom a{
    text-decoration: none;
    padding: 0 20px;
    font-size:8px ;
}
.footer-bottom a:first-child{
    border-right:2px solid #F2F2F2;
}
@media screen and (min-width:576px){
    .footer__contact h6{
        font-size: 12px;
    }
    .footer__contact a{
        font-size: 10px;
    }
    .footer__contact i{
        font-size: 16px;
    }
    .footer__btn .btn{
        font-size: 9px;
    }
    .footer__btn .footer__btn-singIn{
        padding: 7px 28px;
        margin-bottom: 16px;
    }
    .footer__btn .footer__btn-singUp{
        padding: 7px 25px;
    }    
    .footer-bottom span{
        font-size: 9px;
    }
    .footer-bottom{
        font-size: 10px;
    }
    .footer-bottom a{
        padding: 0 20px;
        font-size:12px ;
    }
}
@media screen and (min-width:768px){
    .footer__contact h6{
        font-size: 14px;
    }
    .footer__contact a{
        font-size: 12px;
    }
    .footer__contact i{
        font-size: 16px;
    }
    .footer__btn .btn{
        font-size: 11px;
    }
    .footer__btn .footer__btn-singIn{
        padding: 7px 33px;
        margin-bottom: 18px;
    }
    .footer__btn .footer__btn-singUp{
        padding: 7px 30px;
    }    
    .footer-bottom span{
        font-size: 11px;
    }
    .footer-bottom{
        font-size: 12px;
    }
    .footer-bottom a{
        padding: 0 20px;
        font-size:14px ;
    }
}
@media screen and (min-width:992px){
    .footer__contact h6{
        font-size: 18px;
    }
    .footer__contact a{
        font-size: 16px;
    }
    .footer__contact i{
        font-size: 24px;
    }
    .footer__btn .btn{
        font-size: 15px;
    }
    .footer__btn .footer__btn-singIn{
        padding: 10px 43px;
        margin-bottom: 20px;
    }
    .footer__btn .footer__btn-singIn:hover{
        color: white;    
    }
    .footer__btn .footer__btn-singUp{
        padding: 10px 40px;
    }
    .footer-bottom span{
        font-size: 15px;
    }
    .footer-bottom a{
        padding: 0 20px;
        font-size:16px ;
    }
}
/* End  Footer  */

/* ProductShow*/
.productSuggest{
    height: auto;
    overflow: hidden;    
}

 .productDetail{
    margin-left: 50px;
}
.productSuggestList{
    color: #195F93;
    font-weight: 500;
}
.productImg::after {
    content:"";
    height: 3px;
    width: 0%;
    background-color:#195F93;
    position: absolute;
    bottom: 0;
    left: 0;

}
.productImg:hover::after{
    width: 100%;
}
.productImg{
    padding-bottom: 10px;
}
.inforProduct_btn .btn_addToCart:hover{
    color:#0E3A5A ;
    border: 1px solid #0E3A5A;

}
.inforProduct_btn .btn_BuyNow:hover {
    background-color:#0E3A5A ;
    color: #fff;
}

@media screen and (max-width:576px){
    .productDetails .product__content.productDetail {
         font-size: 14px;
    }
    h3, h4{
        font-size: 18px;
    }
    .inforProduct_btn .btn_addToCart{
        border: 1px solid #195F93;
        color: #195F93;
        margin-right: 10px;
        font-weight: 400;   
    }
    .inforProduct_btn .btn_BuyNow{
        background-color: #195F93 ; 
        color: #fff;

    }

}
@media screen and (min-width:576px){
    .productDetails .product__content.productDetail{
    font-size: 16px;
    }
    h3, h4{
        font-size: 20px;
    }
    .inforProduct_btn .btn_addToCart{
        border: 1px solid #195F93;
        color: #195F93;
        margin-right: 100px;
        font-weight: 400;   
    }
    .inforProduct_btn .btn_BuyNow{
        background-color: #195F93 ; 
        color: #fff;

    }
}




   
   




